<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Garant&iacute;a</title>

        <link rel="stylesheet" type="text/css" href="../../../resources/css/bgstretcher.css" />
        <script type="text/javascript" src="../../../js/jquery-1.5.2.min.js"></script>
        <script type="text/javascript" src="../../../js/bgstretcher.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {

                //  Initialize Backgound Stretcher	   
                $('BODY').bgStretcher({
                    images: ['../../../resources/images/bg/5.png', '../../../resources/images/bg/7.png', '../../../resources/images/bg/11.png', '../../../resources/images/bg/9.png', '../../../resources/images/bg/6.png', '../../../resources/images/bg/4.png', '../../../resources/images/bg/3.png', '../../../resources/images/bg/12.png', '../../../resources/images/bg/8.png', '../../../resources/images/bg/2.png', '../../../resources/images/bg/10.png'],
                    imageWidth: 1024,
                    imageHeight: 768,
                    slideDirection: 'N',
                    slideShowSpeed: 2000,
                    transitionEffect: 'fade',
                    sequenceMode: 'normal',
                    /*buttonPrev: '#prev',
                     buttonNext: '#next',
                     pagination: '#nav',
                     anchoring: 'left center',
                     anchoringImg: 'left center'*/
                });

            });
        </script>

    </head>

    <body>
        <div class="whitemark"></div>
        <div class="portada_top">
            <table width="620" cellspacing="0" cellpadding="0">
            <tr>
               <td width="110"><img src="../../../resources/images/logo/UCM.png"></td>
               <td align="center"><font class="asociacion">Asociación Econ&oacute;mica Internacional</font><br><font class="ucm-bouygues">UCM - BOUYGUESS BATIMENT</font></td>
               <td width="80"><img src="../../../resources/images/logo/bouygues.png"></td>
            </tr>
           </table>
        </div>
    </body>
</html>
